<% if !@group_application.last_step? %>
<h2>Step 2 of 5: Emergency Contact Information</h2>
<% end %>
	<label for="group_application_emergency_name">Contact Name</label>
    <%= f.text_field :emergency_name %>
	
	<label for="group_application_emergency_relationship">Relationship to you</label>
    <%= f.text_field :emergency_relationship %>
	
	<label for="group_application_emergency_phone">Phone</label>
    <%= f.text_field :emergency_phone %>
	
	<label for="group_application_emergency_email">Email</label>
    <%= f.text_field :emergency_email %>